.header
{
    width: 100%;
    background-color: gray;
    text-align: center;
    color: white;
    padding-top: 1px;
    padding-bottom: 5%;
}


.questionBox
{
    background-color: #4d4d4d;
    padding-top: 2%;
    padding-bottom: 2%;
}

.question
{
    margin: 1%;
    font-size: 25px;
    color: white;
}

.answear
{
    padding: 1px;
    width: 80%;
    margin: 3%;
    font-size: 20px;
    color: white;
}


.footer
{
    width: 100%;
    background-color: gray;
    text-align: center;
}


